---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: grafana
      version: 10.5.12
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  driftDetection:
    mode: enabled
  values:
    replicas: 1
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: default
            disableDeletion: false
            editable: true
            folder: ""
            options:
              path: /var/lib/grafana/dashboards/default
            orgId: 1
            type: file
          - name: ceph
            disableDeletion: false
            editable: true
            folder: "Ceph"
            options:
              path: /var/lib/grafana/dashboards/ceph
            orgId: 1
            type: file
          - name: kubernetes
            disableDeletion: false
            editable: true
            folder: "Kubernetes"
            options:
              path: /var/lib/grafana/dashboards/kubernetes
            orgId: 1
            type: file
    dashboards:
      default:
        proxmoxVM:
          gnetId: 13307
          revision: 6
          datasource: VictoriaMetrics
        cert-manager:
          url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/cert-manager/dashboards/cert-manager.json
          datasource: VictoriaMetrics
        ntfy:
          url: https://raw.githubusercontent.com/binwiederhier/ntfy/main/examples/grafana-dashboard/ntfy-grafana.json
          datasource:
            - { name: DS_PROMETHEUS, value: VictoriaMetrics }
        volsync:
          gnetId: 21356
          revision: 3
          datasource:
            - {name: DS_PROMETHEUS, value: VictoriaMetrics }
      ceph:
        ceph-pools:
          gnetId: 5342
          revision: 9
          datasource: VictoriaMetrics
        ceph-osd:
          gnetId: 5336
          revision: 9
          datasource: VictoriaMetrics
        ceph-cluster:
          gnetId: 2842
          revision: 16
          datasource: VictoriaMetrics
      kubernetes:
        kubernetes-api-server:
          gnetId: 15761
          revision: 19
          datasource: VictoriaMetrics
        kubernetes-coredns:
          gnetId: 15762
          revision: 21
          datasource: VictoriaMetrics
        kubernetes-global:
          gnetId: 15757
          revision: 43
          datasource: VictoriaMetrics
        kubernetes-namespaces:
          gnetId: 15758
          revision: 42
          datasource: VictoriaMetrics
        kubernetes-nodes:
          gnetId: 15759
          revision: 37
          datasource: VictoriaMetrics
        kubernetes-pods:
          gnetId: 15760
          revision: 36
          datasource: VictoriaMetrics
        kubernetes-volumes:
          gnetId: 11454
          revision: 14
          datasource: VictoriaMetrics
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - access: proxy
            isDefault: true
            name: VictoriaMetrics
            type: prometheus
            url: http://vmsingle-vm-stack.monitoring.svc:8428
          - access: proxy
            name: VictoriaLogs
            type: victoriametrics-logs-datasource
            url: http://victoria-logs-victoria-logs-single-server.monitoring.svc:9428
    envFromSecrets:
      - name: grafana-env
    grafana.ini:
      server:
        root_url: https://monitoring.${S_HOMEPROD_DOMAIN}
      auth:
        oauth_auto_login: true
      auth.basic:
        disable_login_form: false
      auth.generic_oauth:
        enabled: true
        name: cranitchsso
        # client_id: abcd # Set by env vars
        # client_secret: abcd # Set by env vars
        scopes: "openid profile email"
        empty_scopes: false
        auth_url: https://${SSO_DOMAIN_PREFIX}.${S_BASE_DOMAIN}/application/o/authorize/
        token_url: https://${SSO_DOMAIN_PREFIX}.${S_BASE_DOMAIN}/application/o/token/
        api_url: https://${SSO_DOMAIN_PREFIX}.${S_BASE_DOMAIN}/application/o/userinfo/
        login_attribute_path: preferred_username
        groups_attribute_path: groups
        name_attribute_path: name
        allow_assign_grafana_admin: false
        role_attribute_path: contains(groups[*], 'service-admins') && 'GrafanaAdmin' || 'Viewer'
      analytics:
        check_for_updates: false
        check_for_plugin_updates: false
        reporting_enabled: false
      news:
        news_feed_enabled: false
    plugins:
      - victoriametrics-logs-datasource
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
      datasources:
        enabled: true
        searchNamespace: ALL
    ingress:
      enabled: true
      ingressClassName: "nginx"
      hosts:
        - &host monitoring.${S_HOMEPROD_DOMAIN}
      tls:
        - hosts:
          - *host
    persistence:
      enabled: false
