apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
- name: cilium
  namespace: kube-system
  releaseName: cilium
  repo: https://helm.cilium.io/
  valuesFile: values.yaml
  valuesMerge: override
  version: 1.19.0
# TODO: use same values as rest of repo and override as below
#   valuesInline:
#     hubble:
#       enabled: false
#       relay:
#         enabled: false
#       ui:
#         enabled: false
#       tls:
#         enabled: false
#         auto:
#           enabled: false
commonAnnotations:
  meta.helm.sh/release-name: cilium
  meta.helm.sh/release-namespace: kube-system
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/managed-by: Helm
