clusterName: homeprod
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.10.7
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: 1.33.4
endpoint: https://cranitch.k8s:6443
cniConfig:
  name: none
nodes:
  - hostname: homeprod-cw01
    controlPlane: true
    installDiskSelector:
      size: '<= 100GB'
    ipAddress: 192.168.29.170
    networkInterfaces:
      # set a predictable interface for multus
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: e6:8c:ef:28:48:d6
        dhcp: true
  - hostname: homeprod-cw02
    controlPlane: true
    installDiskSelector:
      size: '<= 100GB'
    ipAddress: 192.168.29.171
    networkInterfaces:
      # set a predictable interface for multus
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: a2:d9:49:eb:d0:cd
        dhcp: true
  - hostname: homeprod-cw03
    controlPlane: true
    installDiskSelector:
      size: '<= 100GB'
    ipAddress: 192.168.29.172
    networkInterfaces:
      # set a predictable interface for multus
      # bond0 doesnt seem to get the MAC from proxmox. not sure why it works on the other nodes.
      # - interface: bond0
      #   bond:
      #     mode: active-backup
      #     deviceSelectors:
      #       - hardwareAddr: A6:4E:F3:1E:9E:4F
      #       # - hardwareAddr: 6a:05:24:6d:3f:ec
      #   dhcp: true
      - interface: ens18
        dhcp: true
controlPlane:
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/gvisor
          - siderolabs/qemu-guest-agent
  patches:
    # cluster.proxy.disabled: true??
    - |-
      cluster:
        allowSchedulingOnMasters: true
        apiServer:
          auditPolicy:
            apiVersion: audit.k8s.io/v1
            kind: Policy
            rules:
              # Log the request body of configmap changes in kube-system.
              - level: Request
                resources:
                - group: "" # core API group
                  resources: ["configmaps"]
                namespaces: ["kube-system"]
              # Log the request body of secret changes in flux-system.
              - level: Request
                resources:
                - group: "" # core API group
                  resources: ["secrets"]
                namespaces: ["flux-system"]
              # A catch-all rule to log all other requests at the Metadata level.
              - level: Metadata
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - system-upgrade
              - tuppr
        sysctls:
          user.max_user_namespaces: "11255"
        # For spegel
        files:
          - path: /etc/cri/conf.d/20-customization.part
            op: create
            content: |
              [plugins."io.containerd.cri.v1.images"]
                discard_unpacked_layers = false
